# .DS_Store(macOS)
.DS_Store

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# a
a

.vs
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj.user
x64
Debug
Release
MinSizeRel
RelWithDebInfo
a.dir
a.vcxproj
a.vcxproj.filters
a.vcxproj.user

Algorithm.sln
bubble_sort_project.sln
factorial_project.sln
fibonacci_project.sln
gcd_lcm_project.sln
prime_project.sln
prime_factor_project.sln
quick_sort_project.sln